 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Pessoas</title>
</head>
<body>
Cadastro de pessoas
	<form action="salvarpessoa" method="POST">
	  <label>Tipo</label>
	  <input type="text" name="tipo" value="F"/><br/>
	  <label>Nome</label>
	  <input type="text" name="nome" /><br/>
	  <label>Sobrenome</label>
	  <input type="text" name="sobrenome" /><br/>
	  <label>CPF / CNPJ</label>
	  <input type="text" name="cpfCnpj" /><br/>
	  <input type="submit" value="Salvar" />
	</form>
	<table>
	  <tr th:each = "pessoa : ${pessoas}">
	   <td th:text = "${pessoa.id}" ></td >
	   <td th:text = "${pessoa.tipo}" ></td >
	   <td th:text = "${pessoa.nome}" ></td >
	   <td th:text = "${pessoa.sobrenome}" ></td >
	   <td th:text = "${pessoa.cpfCnpj}" ></td >
	  </tr >
	</table>
</body>
</html >