<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cadastro de Pessoas</title>
</head>

<body>

	<h3>Cadastro de Pessoas utilizando Spring Boot, Thymeleaf e Material Design Lite</h3><br />
	<h5>Cadastro de Pessoas</h5>
	<div class="row">
		<form class="col s12" id="formpessoa" action="salvarpessoa" method="POST" th:object="${pessoaobj}">
			<div="row">
				<div class="input-field col s6">
					<label for="id">ID</label>
					<input name="id" id="id" th:field="*{id}" readonly="readonly">
				</div>
				<div class="input-field col s6">
					<label for="tipo">Tipo</label>
					<input type="text" name="tipo" id="tipo" class="validate" value="F" th:field="*{tipo}" /><br />
				</div>
				<div class="input-field col s6">
					<label for="nome">Nome</label>
					<input type="text" name="nome" id="nome" class="validate" th:field="*{nome}" /><br />
				</div>

				<div class="input-field col s6">
					<label for="sobrenome">Sobrenome</label>
					<input type="text" name="sobrenome" id="sobrenome" class="validate" th:field="*{sobrenome}" /><br />
				</div>
				<div class="input-field col s6">
					<label for="cpfCnpj">CPF / CNPJ</label>
					<input type="text" name="cpfCnpj" id="cpfCnpj" class="validate" th:field="*{cpfCnpj}" /><br />
				</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="submit" class="waves-effect waves-light btn" type="submit" value="Salvar" />


			<button id="novo" type="reset" class="waves-effect waves-light btn"
				onclick="document.getElementById('formpessoa').reset();">Novo</button>
		</div>

	</div>
	</form>


	<br />
	<br />
	<div class="row">

		<form action="pesquisapessoa" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label class="active" for="nomepesquisa">Pesquisa por nome</label >
					<input class="validate" name="nomepesquisa" id="nomepesquisa"/>
					<input type="submit" class="waves-effect waves-light btn" value="Buscar" />
					<a  class="waves-effect waves-light btn" href="/listapessoas">Listar</a>
				</div>
			</div>
		</form>
	</div>
	<br />
	<br />
	
	<br />
	<table class="striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Tipo</th>
	    <th>Nome</th>
	    <th>Sobrenome</th>
	    <th>CPF / cNPJ</th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td th:text="${pessoa.tipo}"></td>
			<td th:text="${pessoa.nome}"></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.cpfCnpj}"></td>
			<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>
	</table>
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>